<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= title %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over ₹ 500
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							INR
						</a>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img src="/admin/images/BLACK LOGO.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/dashboard">Home</a>
								<!-- <ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul> -->
							</li>

							<li>
								<a href="/shop">Shop</a>
							</li>
							<!-- 
							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li> -->
						</ul>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="/admin/images/BLACK LOGO.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over ₹ 500
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							INR
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/dashboard">Home</a>
					<!-- <ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span> -->
				</li>

				<li>
					<a href="/shop">Shop</a>
				</li>
				<!-- 
				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li> -->
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	</div>

    <style>
        .error-body {
        height: 100%;
        }
        .error-body {
        display: grid;
        width: 100%;
        font-family: Inconsolata, monospace;
        }
        div#error {
        position: relative;
        margin: auto;
        padding: 20px;
        z-index: 2;
        }
        div#error div#box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #000;
        }
        div#error div#box:before,
        div#error div#box:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 0px 1px #000;
        mix-blend-mode: multiply;
        animation: dance 2s infinite steps(1);
        }
        div#error div#box:before {
        clip-path: polygon(0 0, 65% 0, 35% 100%, 0 100%);
        box-shadow: inset 0px 0px 0px 1px currentColor;
        color: #f0f;
        }
        div#error div#box:after {
        clip-path: polygon(65% 0, 100% 0, 100% 100%, 35% 100%);
        animation-duration: 0.5s;
        animation-direction: alternate;
        box-shadow: inset 0px 0px 0px 1px currentColor;
        color: #0ff;
        }
        div#error h3 {
        position: relative;
        font-size: 5vw;
        font-weight: 700;
        text-transform: uppercase;
        animation: blink 1.3s infinite steps(1);
        }
        div#error h3:before,
        div#error h3:after {
        content: 'ERROR 500';
        position: absolute;
        top: -1px;
        left: 0;
        mix-blend-mode: soft-light;
        animation: dance 2s infinite steps(2);
        }
        div#error h3:before {
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        color: #f0f;
        animation: shiftright 200ms steps(2) infinite;
        }
        div#error h3:after {
        clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
        color: #0ff;
        animation: shiftleft 200ms steps(2) infinite;
        }
        div#error p {
        position: relative;
        margin-bottom: 8px;
        }
        div#error p span {
        position: relative;
        display: inline-block;
        font-weight: bold;
        color: #000;
        animation: blink 3s steps(1) infinite;
        }
        div#error p span:before,
        div#error p span:after {
        content: 'unstable';
        position: absolute;
        top: -1px;
        left: 0;
        mix-blend-mode: multiply;
        }
        div#error p span:before {
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
        color: #f0f;
        animation: shiftright 1.5s steps(2) infinite;
        }
        div#error p span:after {
        clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
        color: #0ff;
        animation: shiftleft 1.7s steps(2) infinite;
        }
        @-moz-keyframes dance {
        0%, 84%, 94% {
            transform: skew(0deg);
        }
        85% {
            transform: skew(5deg);
        }
        90% {
            transform: skew(-5deg);
        }
        98% {
            transform: skew(3deg);
        }
        }
        @-webkit-keyframes dance {
        0%, 84%, 94% {
            transform: skew(0deg);
        }
        85% {
            transform: skew(5deg);
        }
        90% {
            transform: skew(-5deg);
        }
        98% {
            transform: skew(3deg);
        }
        }
        @-o-keyframes dance {
        0%, 84%, 94% {
            transform: skew(0deg);
        }
        85% {
            transform: skew(5deg);
        }
        90% {
            transform: skew(-5deg);
        }
        98% {
            transform: skew(3deg);
        }
        }
        @keyframes dance {
        0%, 84%, 94% {
            transform: skew(0deg);
        }
        85% {
            transform: skew(5deg);
        }
        90% {
            transform: skew(-5deg);
        }
        98% {
            transform: skew(3deg);
        }
        }
        @-moz-keyframes shiftleft {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(-8px, 0) skew(20deg);
        }
        }
        @-webkit-keyframes shiftleft {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(-8px, 0) skew(20deg);
        }
        }
        @-o-keyframes shiftleft {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(-8px, 0) skew(20deg);
        }
        }
        @keyframes shiftleft {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(-8px, 0) skew(20deg);
        }
        }
        @-moz-keyframes shiftright {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(8px, 0) skew(20deg);
        }
        }
        @-webkit-keyframes shiftright {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(8px, 0) skew(20deg);
        }
        }
        @-o-keyframes shiftright {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(8px, 0) skew(20deg);
        }
        }
        @keyframes shiftright {
        0%, 87%, 100% {
            transform: translate(0, 0) skew(0deg);
        }
        84%, 90% {
            transform: translate(8px, 0) skew(20deg);
        }
        }
        @-moz-keyframes blink {
        0%, 50%, 85%, 100% {
            color: #000;
        }
        87%, 95% {
            color: transparent;
        }
        }
        @-webkit-keyframes blink {
        0%, 50%, 85%, 100% {
            color: #000;
        }
        87%, 95% {
            color: transparent;
        }
        }
        @-o-keyframes blink {
        0%, 50%, 85%, 100% {
            color: #000;
        }
        87%, 95% {
            color: transparent;
        }
        }
        @keyframes blink {
        0%, 50%, 85%, 100% {
            color: #000;
        }
        87%, 95% {
            color: transparent;
        }
        }

    </style>
    <div class="error-body">
        <div id="error">
            <div id="box"></div>
            <h3>ERROR 500</h3>
            <p>Things are a little <span>unstable</span> here</p>
            <p>I suggest come back later</p>
          </div>
    </div>

	<!-- Footer -->
	<%-include('../layouts/userFooter') %>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>